@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    width: 1300px;
}

.container-top {
    height: 190px;
    width: 100%;
    background-image: url("/img/header_bg.png");
}

.bg_mosaic {
    margin: 0 auto;
    position: absolute;
    width: 1040px;
    height: 575px;
    z-index: -100;
    background-image: url("/img/mosaic.png");
}

    .msc {
        background-image: url("/img/mosaic.png");
        background-position: -10px -30px !important;
        background-size: inherit !important;
    }

.site-content {
    margin: 0 auto;
    padding: 30px 10px 0 10px;
    width: 80%;
    background-image: url("/img/mosaic.png");
    font-family: "Neucha", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 20px;

    min-height: 600px;
}

.menu-line {
    width: 100%;
    height: 34px;
    background-color: #ef7f1a;
}

    .navbar-menu {
        float:right;
        list-style: none;
        margin-right: 255px;

    }
        .navbar-menu > li {
            float: left;
            font-family: "Neucha", "Helvetica Neue", Helvetica, Arial, cursive;
            font-size: 21px;
            text-transform: uppercase;
        }
            .navbar-menu > li > a {
                padding: 5px 10px;
                color: #fefefe;
            }

.header-logo {
    margin-top: 60px;
    margin-left: 150px;
    height: 210px;
    width: 265px;
    z-index: 300;
    /*background-image: url("/img/logo.png");*/
    position: absolute;
}

.neon {
    margin-top: 90px;
    margin-left: 415px;
    width: 654px;
    height: 100px;
    background-image: url("/img/neon.png");
    position: absolute;
}

.slideshow-wrapper {
    height: 400px;
    width: 100%;
    font-size: 20px;
    font-family: "Neucha", "Helvetica Neue", Helvetica, Arial, cursive;
}
    .slide_left {
        float: left;
        width: 40%;
    }

    .slide_right {
        float: right;
        width: 60%;
    }

.interior_warp {
    width: 100%;
    height: 7px;
    background-color: #ef7f1a;
}

.interior {
    width: 1000px;
    height: 507px;
    background-image: url("/img/interior.png");
}







.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
